<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <title>BlocAlgo Notebook</title>
    <link
      rel="icon"
      href="<%= require('../assets/img/logo.png') %>"
      type="image/png"
      sizes="16x16"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      var sys_info = <%= JSON.stringify(htmlWebpackPlugin.options.sys_info) %>;
    </script>
    <script
      type="text/javascript"
      src="assets/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full,Safe&delayStartupUntil=configured"
      async
    ></script>
    <style>
      /* this is duplicated from main css but used to avoid FOUC */
      #header {
        display: none;
      }

      #site {
        display: none;
      }
    </style>
  </head>
  <body
    class="notebook_app"
    data-jupyter-api-token=""
    data-base-url=""
    data-ws-url=""
    data-notebook-name="Untitled.ipynb"
    data-notebook-path="Untitled.ipynb"
    dir="ltr"
  >
    <noscript>
      <div id="noscript">
        Jupyter Notebook nécessite JavaScript<br />
        Merci de l'activer pour continuer.
      </div>
    </noscript>
    <div id="header" role="navigation" aria-label="Top Menu">
      <div id="header-container" class="container">
        <div id="ipython_notebook" class="nav navbar-brand">
          <span
            ><img
              src="<%= require('../assets/img/logo.svg') %>"
              alt="Jupyter Notebook"
          /></span>
          <span style="font-size: 18px; padding-left: 8px; font-weight: 400;">BlocAlgo Notebook</span>
        </div>
        <span id="save_widget" class="save_widget">
          <span id="notebook_name" class="filename"></span>
          <span class="checkpoint_status"></span>
          <span class="autosave_status"></span>
        </span>
        <span id="kernel_logo_widget">
          <img
            class="current_kernel_logo"
            alt="Current Kernel Logo"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
          />
        </span>
        <span id="login_widget">
          <button id="logout" class="btn btn-sm navbar-btn hidden">
            Se déconnecter
          </button>
        </span>
      </div>
      <div class="header-bar"></div>
      <div id="menubar-container" class="container">
        <div id="menubar">
          <div id="menus" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <button
                type="button"
                class="btn btn-default navbar-btn navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <i class="fa fa-bars"></i>
                <span class="navbar-text">Menu</span>
              </button>
              <p id="kernel_indicator" class="navbar-text indicator_area">
                <span class="kernel_indicator_name">Noyau</span>
                <i id="kernel_indicator_icon"></i>
              </p>
              <i
                id="readonly-indicator"
                class="navbar-text"
                title="Ce notebook est en lecture seule"
              >
                <span class="fa-stack">
                  <i class="fa fa-save fa-stack-1x"></i>
                  <i class="fa fa-ban fa-stack-2x text-danger"></i>
                </span>
              </i>
              <i id="modal_indicator" class="navbar-text"></i>
              <span id="notification_area"></span>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a
                      href="#"
                      id="filelink"
                      aria-haspopup="true"
                      aria-controls="file_menu"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      >Fichier</a
                    >
                    <ul
                      id="file_menu"
                      class="dropdown-menu"
                      role="menu"
                      aria-labelledby="filelink"
                    >
                      <li
                        id="new_notebook"
                        class="dropdown-submenu"
                        role="none"
                      >
                        <a href="#" role="menuitem"
                          >Nouveau Notebook<span class="sr-only"
                            >Toggle Dropdown</span
                          ></a
                        >
                        <ul
                          class="dropdown-menu"
                          id="menu-new-notebook-submenu"
                        ></ul>
                      </li>
                      <li
                        id="open_notebook"
                        role="none"
                        title="Ouvre un notebook, charge un module ou un fichier"
                      >
                        <a href="#" role="menuitem">Ouvrir...</a>
                      </li>
                      <!-- <hr/> -->
                      <li class="divider hidden" role="none"></li>
                      <li
                        id="copy_notebook"
                        role="none"
                        title="Ouvrir une copie du contenu de ce notebook et démarrer un nouveau noyau"
                        class="hidden"
                      >
                        <a href="#" role="menuitem">Faire une copie...</a>
                      </li>
                      <li
                        id="save_notebook_as"
                        role="none"
                        title="Enregistrer une copie du notebook"
                      >
                        <a href="#" role="menuitem">Enregistrer sous...</a>
                      </li>
                      <li id="rename_notebook" role="none" class="hidden">
                        <a href="#" role="menuitem">Renommer...</a>
                      </li>
                      <li id="save_checkpoint" role="none" class="hidden">
                        <a href="#" role="menuitem"
                          >Créer une nouvelle sauvegarde</a
                        >
                      </li>
                      <!-- <hr/> -->
                      <li class="divider" role="none"></li>
                      <li id="restore_checkpoint" role="none">
                        <a href="#" role="menuitem">Restaurer une sauvegarde</a>
                      </li>
                      <li class="divider hidden" role="none"></li>
                      <li id="print_preview" role="none" class="hidden">
                        <a href="#" role="menuitem">Imprimer l'aperçu</a>
                      </li>
                      <li class="dropdown-submenu hidden" role="none">
                        <a href="#" role="menuitem"
                          >Télécharger au format<span class="sr-only"
                            >Toggle Dropdown</span
                          ></a
                        >
                        <ul id="download_menu" class="dropdown-menu">
                          <li id="download_asciidoc">
                            <a href="#">asciidoc (.asciidoc)</a>
                          </li>
                          <li id="download_html">
                            <a href="#">HTML (.html)</a>
                          </li>
                          <li id="download_latex">
                            <a href="#">latex (.tex)</a>
                          </li>
                          <li id="download_markdown">
                            <a href="#">markdown (.md)</a>
                          </li>
                          <li id="download_notebook">
                            <a href="#">notebook (.ipynb)</a>
                          </li>
                          <li id="download_pdf">
                            <a href="#">pdf (.tex)</a>
                          </li>
                          <li id="download_rst">
                            <a href="#">rst (.rst)</a>
                          </li>
                          <li id="download_script">
                            <a href="#">Script (.txt)</a>
                          </li>
                          <li id="download_slides">
                            <a href="#">slides (.slides.html)</a>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu hidden" role="none">
                        <a href="#" role="menuitem">Déployer en tant que</a>
                        <ul id="deploy_menu" class="dropdown-menu"></ul>
                      </li>
                      <li class="divider hidden" role="none"></li>
                      <li
                        id="trust_notebook"
                        role="none"
                        title="Faire confiance à la sortie de ce notebook"
                        class="hidden"
                      >
                        <a href="#" role="menuitem"
                          >Faire confiance au notebook</a
                        >
                      </li>
                      <li class="divider hidden" role="none"></li>
                      <li
                        id="close_and_halt"
                        role="none"
                        title="Arrêter le noyau de ce notebook et fermer cette fenêtre"
                        class="hidden"
                      >
                        <a href="#" role="menuitem">Fermer et arrêter</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      id="editlink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-controls="edit_menu"
                      >Édition</a
                    >
                    <ul
                      id="edit_menu"
                      class="dropdown-menu"
                      role="menu"
                      aria-labelledby="editlink"
                    >
                      <li id="cut_cell" role="none">
                        <a href="#" role="menuitem">Couper les cellules</a>
                      </li>
                      <li id="copy_cell" role="none">
                        <a href="#" role="menuitem">Copier les cellules</a>
                      </li>
                      <li id="paste_cell_above" class="disabled" role="none">
                        <a href="#" role="menuitem" aria-disabled="true"
                          >Coller les cellules avant</a
                        >
                      </li>
                      <li id="paste_cell_below" class="disabled" role="none">
                        <a href="#" role="menuitem" aria-disabled="true"
                          >Coller les cellules après</a
                        >
                      </li>
                      <li id="paste_cell_replace" class="disabled" role="none">
                        <a href="#" role="menuitem" aria-disabled="true"
                          >Coller les cellules &amp; remplacer</a
                        >
                      </li>
                      <li id="delete_cell" role="none">
                        <a href="#" role="menuitem">Supprimer les cellules</a>
                      </li>
                      <li id="undelete_cell" class="disabled" role="none">
                        <a href="#" role="menuitem" aria-disabled="true"
                          >Annuler la suppression des cellules</a
                        >
                      </li>
                      <li class="divider" role="none"></li>
                      <li id="split_cell" role="none">
                        <a href="#" role="menuitem">Diviser la cellule</a>
                      </li>
                      <li id="merge_cell_above" role="none">
                        <a href="#" role="menuitem"
                          >Fusionner avec la cellule précédente</a
                        >
                      </li>
                      <li id="merge_cell_below" role="none">
                        <a href="#" role="menuitem"
                          >Fusionner avec la cellule suivante</a
                        >
                      </li>
                      <li class="divider" role="none"></li>
                      <li id="move_cell_up" role="none">
                        <a href="#" role="menuitem"
                          >Déplacer la cellule vers le haut</a
                        >
                      </li>
                      <li id="move_cell_down" role="none">
                        <a href="#" role="menuitem"
                          >Déplacer la cellule vers le bas</a
                        >
                      </li>
                      <li class="divider" role="none"></li>
                      <li id="edit_nb_metadata" role="none">
                        <a href="#" role="menuitem"
                          >Éditer les méta-données du notebook</a
                        >
                      </li>
                      <li class="divider" role="none"></li>
                      <li id="find_and_replace" role="none">
                        <a href="#" role="menuitem">
                          Rechercher et remplacer
                        </a>
                      </li>
                      <li class="divider" role="none"></li>
                      <li id="cut_cell_attachments" role="none">
                        <a href="#" role="menuitem"
                          >Couper les pièces-Jointes de la cellule</a
                        >
                      </li>
                      <li id="copy_cell_attachments" role="none">
                        <a href="#" role="menuitem"
                          >Copier les pièces-jointes de la cellule</a
                        >
                      </li>
                      <li
                        id="paste_cell_attachments"
                        class="disabled"
                        role="none"
                      >
                        <a href="#" role="menuitem" aria-disabled="true"
                          >Coller les pièces-jointes de la cellule</a
                        >
                      </li>
                      <li class="divider" role="none"></li>
                      <li id="insert_image" class="disabled" role="none">
                        <a href="#" role="menuitem" aria-disabled="true">
                          Insérer une image
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      id="viewlink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-controls="view_menu"
                      >Affichage</a
                    >
                    <ul
                      id="view_menu"
                      class="dropdown-menu"
                      role="menu"
                      aria-labelledby="viewlink"
                    >
                      <li
                        id="toggle_header"
                        role="none"
                        title="Afficher/Masquer le logo et le titre du notebook (au-dessus de la barre de menu)"
                      >
                        <a href="#" role="menuitem"
                          >Afficher/Masquer l'en-tête</a
                        >
                      </li>
                      <li
                        id="toggle_toolbar"
                        role="none"
                        title="Afficher/Masquer les icônes d'action (en-dessous de la barre de menu)"
                      >
                        <a href="#" role="menuitem"
                          >Afficher/Masquer la barre d'outils</a
                        >
                      </li>
                      <li
                        id="toggle_line_numbers"
                        role="none"
                        title="Afficher/Masquer les numéros de ligne dans les cellules"
                      >
                        <a href="#" role="menuitem"
                          >Afficher/Masquer les numéros de ligne</a
                        >
                      </li>
                      <li
                        id="menu-cell-toolbar"
                        class="dropdown-submenu"
                        role="none"
                      >
                        <a href="#" role="menuitem">Barre d'outil de cellule</a>
                        <ul
                          class="dropdown-menu"
                          id="menu-cell-toolbar-submenu"
                        ></ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      id="insertlink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-controls="insert_menu"
                      >Insérer</a
                    >
                    <ul
                      id="insert_menu"
                      class="dropdown-menu"
                      role="menu"
                      aria-labelledby="insertlink"
                    >
                      <li
                        id="insert_cell_above"
                        role="none"
                        title="Insérer une cellule de code vide avant de la cellule active"
                      >
                        <a href="#" role="menuitem"
                          >Insérer une cellule avant</a
                        >
                      </li>
                      <li
                        id="insert_cell_below"
                        role="none"
                        title="Insérer une cellule de code vide après la cellule active"
                      >
                        <a href="#" role="menuitem"
                          >Insérer une cellule après</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      >Cellule</a
                    >
                    <ul id="cell_menu" class="dropdown-menu">
                      <li
                        id="run_cell"
                        title="Exécuter cette cellule, et déplacer le curseur à la suivante"
                      >
                        <a href="#">Exécuter les cellules</a>
                      </li>
                      <li
                        id="run_cell_select_below"
                        title="Exécuter cette cellule, sélectionner la suivante"
                      >
                        <a href="#"
                          >Exécuter les cellules et sélectionner la suivante</a
                        >
                      </li>
                      <li
                        id="run_cell_insert_below"
                        title="Exécuter la cellule et insérer à la suite"
                      >
                        <a href="#">Exécuter les cellules et insérer après</a>
                      </li>
                      <li
                        id="run_all_cells"
                        title="Exécuter toutes les cellules du notebook"
                      >
                        <a href="#">Exécuter tout</a>
                      </li>
                      <li
                        id="run_all_cells_above"
                        title="Exécuter toutes les cellules avant celle-ci (non incluse)"
                      >
                        <a href="#">Exécuter toutes les précédentes</a>
                      </li>
                      <li
                        id="run_all_cells_below"
                        title="Exécuter cette cellule et toutes les suivantes"
                      >
                        <a href="#">Exécuter toutes les suivantes</a>
                      </li>
                      <li class="divider"></li>
                      <li
                        id="change_cell_type"
                        class="dropdown-submenu"
                        title="Toutes les cellules dans le notebook ont un type de cellule. Par défaut, les nouvelles cellules sont de type 'Code'"
                      >
                        <a href="#">Type de cellule</a>
                        <ul class="dropdown-menu">
                          <li
                            id="to_code"
                            title="Le contenu sera envoyé au noyau pour exécution, et la sortie sera affichée dans le pied de cellule"
                          >
                            <a href="#">Code</a>
                          </li>
                          <li
                            id="to_markdown"
                            title="Le contenu sera rendu en tant que HTML afin de servir de texte explicatif"
                          >
                            <a href="#">Markdown</a>
                          </li>
                          <li
                            id="to_raw"
                            title="Le contenu passera par nbconvert qui ne l'altèrera pas"
                          >
                            <a href="#">Texte Brut</a>
                          </li>
                        </ul>
                      </li>
                      <li class="divider"></li>
                      <li id="current_outputs" class="dropdown-submenu">
                        <a href="#">Sorties actuelles</a>
                        <ul class="dropdown-menu">
                          <li
                            id="toggle_current_output"
                            title="Masquer/Afficher la sortie de la cellule actuelle"
                          >
                            <a href="#">Afficher/Masquer</a>
                          </li>
                          <li
                            id="toggle_current_output_scroll"
                            title="Faire défiler la sortie de la cellule actuelle"
                          >
                            <a href="#">Activer/Désactiver le défilement</a>
                          </li>
                          <li
                            id="clear_current_output"
                            title="Effacer la sortie de la cellule actuelle"
                          >
                            <a href="#">Effacer</a>
                          </li>
                        </ul>
                      </li>
                      <li id="all_outputs" class="dropdown-submenu">
                        <a href="#">Toutes les sorties</a>
                        <ul class="dropdown-menu">
                          <li
                            id="toggle_all_output"
                            title="Afficher/Masquer la sortie de toutes les cellules"
                          >
                            <a href="#">Afficher/Masquer</a>
                          </li>
                          <li
                            id="toggle_all_output_scroll"
                            title="Faire défiler la sortie de toutes les cellules"
                          >
                            <a href="#">Activer/Désactiver le défilement</a>
                          </li>
                          <li
                            id="clear_all_output"
                            title="Effacer la sortie de toutes les cellules"
                          >
                            <a href="#">Effacer</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      id="kernellink"
                      >Noyau</a
                    >
                    <ul
                      id="kernel_menu"
                      class="dropdown-menu"
                      aria-labelledby="kernellink"
                    >
                      <li
                        id="int_kernel"
                        title="Envoyer l'interruption clavier (CTRL-C) au noyau"
                      >
                        <a href="#">Interrompre</a>
                      </li>
                      <li id="restart_kernel" title="Redémarrer le noyau">
                        <a href="#">Redémarrer</a>
                      </li>
                      <li
                        id="restart_clear_output"
                        title="Redémarrer le noyau et effacer toutes les sorties"
                      >
                        <a href="#">Redémarrer &amp; effacer les sorties</a>
                      </li>
                      <li
                        id="restart_run_all"
                        title="Redémarrer le noyau et ré-exécuter le notebook"
                      >
                        <a href="#">Redémarrer &amp; tout exécuter</a>
                      </li>
                      <li id="reconnect_kernel" title="Reconnecter au noyau">
                        <a href="#">Reconnecter</a>
                      </li>
                      <li id="shutdown_kernel" title="Shutdown the Kernel">
                        <a href="#">Arrêter</a>
                      </li>
                      <li class="divider"></li>
                      <li id="menu-change-kernel" class="dropdown-submenu">
                        <a href="#">Changer de noyau</a>
                        <ul
                          class="dropdown-menu"
                          id="menu-change-kernel-submenu"
                        ></ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      >Aide</a
                    >
                    <ul id="help_menu" class="dropdown-menu">
                      <li
                        id="notebook_tour"
                        title="Une rapide visite de l'interface utilisateur du notebook"
                      >
                        <a href="#">Visite de l'interface utilisateur</a>
                      </li>
                      <li
                        id="keyboard_shortcuts"
                        title="Ouvre une infobulle listant tous les raccourcis clavier"
                      >
                        <a href="#">Raccourcis clavier</a>
                      </li>
                      <li
                        id="edit_keyboard_shortcuts"
                        title="Ouvre une boîte de dialogue permettant de modifier les raccourcis clavier"
                      >
                        <a href="#">Editer les raccourcis clavier</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a
                          rel="noreferrer"
                          href="https://basthon.fr/doc.html"
                          target="_blank"
                          title="S&#39;ouvre dans une nouvelle fenêtre"
                        >
                          <i
                            class="fa fa-external-link menu-icon pull-right"
                          ></i>
                          Aide Basthon
                        </a>
                      </li>
                      <li>
                        <a
                          rel="noreferrer"
                          href="http://nbviewer.jupyter.org/github/ipython/ipython/blob/3.x/examples/Notebook/Index.ipynb"
                          target="_blank"
                          title="S&#39;ouvre dans une nouvelle fenêtre"
                        >
                          <i
                            class="fa fa-external-link menu-icon pull-right"
                          ></i>
                          Aide notebook
                        </a>
                      </li>
                      <li>
                        <a
                          rel="noreferrer"
                          href="https://help.github.com/articles/markdown-basics/"
                          target="_blank"
                          title="S&#39;ouvre dans une nouvelle fenêtre"
                        >
                          <i
                            class="fa fa-external-link menu-icon pull-right"
                          ></i>
                          Markdown
                        </a>
                      </li>
                      <li class="divider"></li>
                      <li title="À propos de Jupyter Notebook">
                        <a id="notebook_about" href="#">À propos</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="maintoolbar" class="navbar">
          <div class="toolbar-inner navbar-inner navbar-nobg">
            <div id="maintoolbar-container" class="container"></div>
          </div>
        </div>
      </div>
      <div class="lower-header-bar"></div>
    </div>
    <div id="site">
      <div id="ipython-main-app">
        <!-- Side by side divs -->

        <div class="container">
          <div class="row">
          <div class="col-12 col-sm-12 col-md-6 fixed">
            <div
              id="blocklyDiv"
            
            ></div>
          </div>

          <div id="notebook_container" class="col-12 col-sm-12 col-md-6 scrollit">
            <div
              id="notebook_panel"
            >
              <!-- <button id="get-current-cell">Get Cell</button> -->
              <div id="notebook"></div>
              <div
                id="tooltip"
                class="ipython_tooltip"
                style="display: none"
              ></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pager">
      <div id="pager-contents">
        <div id="pager-container" class="container"></div>
      </div>
      <div id="pager-button-area"></div>
    </div>
  </body>
</html>
