/*!
*
* Twitter Bootstrap
*
*/
@import "~bootstrap/less/bootstrap.less";

/*!
*
* Font Awesome
*
*/
@import "~font-awesome/less/font-awesome.less";
@fa-font-path:    "~font-awesome/fonts";

// base
@import "./base/less/style.less";
@import "./base/less/page.less";

// notebook
@import "./notebook/less/style.less";
@import "./notebook/less/commandpalette.less";
@import "./notebook/less/searchandreplace.less";

@import "./acc_overwrite.less";

// basthon
@import "./basthon.less";

.container {
    width: 100% !important;
  }
  
  // Blockly
  #blocklyArea {
    height: 99%;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
  }
  
  #blocklyDiv {
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    height: calc(100vh - 128px);
    float: left;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  #notebook_container {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  #maintoolbar-container {
    margin-left: 5px;
  }
  
  #RISE{
    display: none;
  }
  
  .fixed {
    position: fixed;
  }
  
  .scrollit {
    float: right;
  }
  
  /* Makes our label white. */
  .blocklyTreeLabel {
    color: white;
  }
  
  .blocklyToolboxDiv {
    /* Makes the toolbox background transparent. */
    margin-top: 0;
  }
  
  .blocklyToolboxCategory {
    /* Makes the category background transparent. */
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px 5px 5px 0px;
  }
  
  .blocklyFlyoutScrollbar {
    /* Makes the scrollbar transparent. */
    display: none;
  }
  
  /* Adds space between the categories, rounds the corners and adds space around the label. */
  .blocklyTreeRow {
    /* Full parent width */
    width: 100%;
  
    height: 40px;
    /* padding-left: 0 !important;
      padding-right: 0 !important;
      border: none !important; */
  }
  
  .blocklyTreeLabel {
    /* horizontally alligned */
    display: inline-block;
    /* vertically alligned */
    vertical-align: middle;
    margin-top: 9px;
    border: none !important;
  }
  
  #notebook-container {
    /* Makes the notebook background transparent. */
    width: 100%;
  }
  
  @media (min-width: 1400px) {
    // .container {
    //   width: 90% !important;
    //   max-width: 1920px !important;
    // }
  }
  
  .ui-tooltip {
    padding: 5px 10px;
    color: white;
    background: #333;
    border-radius: 10px;
    border: 1px #fff solid !important;
    /* no transparency */
    opacity: 1;
    font-size: 14px;
    /* no shadow */
    box-shadow: none;
  }
  
  .ui-tooltip:after {
    background-color: "#222";
    border: 0px solid white;
  }
  
  // small screen
  @media (max-width: 991px) {
    .container {
      width: 100% !important;
    }
  
    .fixed {
      display: block;
      position: relative;
    }
  
    .scrollit {
      float: none;
  
    }
  }
